name: libcli
description: piyuo.com client library.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.8.0
homepage: https://github.com/piyuo/libcli

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  sentry_flutter: ^9.4.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.2
  intl: ^0.20.2
  shared_preferences: ^2.3.2
  url_launcher: ^6.3.0
  flutter_riverpod: ^2.6.1
  talker: ^4.9.2
  talker_flutter: ^4.9.2
  talker_riverpod_logger: ^4.9.2
  flutter_dotenv: ^5.1.0
dev_dependencies:
  sentry_dart_plugin: ^3.1.0
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  flutter_lints: ^6.0.0
  analyzer: ^7.5.6
  build_runner: ^2.4.15
 #dependency_overrides:
  #meta: ^1.11.0 #cause flutter_test blocked

# The following section is specific to Flutter.
flutter:
    generate: true
    uses-material-design: true
    # To add assets to your package, add an assets section, like this:
    assets:
    - .env.test
sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  project: flutter
  org: piyuo
